

body {
  margin: 0 auto;
  max-width: 800px;
  background-color:#FFFAFF;
}

h1 {
  padding: 2%;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: rgb(57, 57, 57);
}

#tableContainer {
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

table {
  position: absolute;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color:#FFFAFF;
  border-radius: 6px;
}

td {
  width: 32.5%;
  height: 32.5%;
  background-color:#c0e8fa;
  border-radius: 6px;

}

.cross {
  background-image: url(../images/cross.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.naught {
  background-image: url(../images/zero.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#alertBox {
  margin: 0 auto;
  position: absolute;
  height: 288px;
  width: 500px;
  background-color: #bfece6;
  opacity: 0.7;
  box-shadow: 0px 0px 15px #888888;
  border-radius: 6px;
  display: none;
  padding-top: 210px;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: rgb(57, 57, 57);
}

#draw {
  display: none;
}

#crossWin {
  display: none;
}

#naughtWin {
  display: none;
}

#scoreBoard {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 500px;
  background-color: #c0e8fa;
  border-radius: 6px;
}

#naughtsScore, #drawScore, #crossesScore, #hN, #hD, #hC {
 width: 32%;
 height: 50%;
 display: inline-block;
}

#hN, #hD, #hC {
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  height: 30%;
  font-family: 'Raleway', sans-serif;
  color: #FFFAFF;
}

#naughtsScore, #drawScore, #crossesScore {
  font-size: 26px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FFFAFF;
  font-weight: bold;
}
