body {
  margin: 0 auto;
  max-width: 600px;
  background-color:#FFFAFF;
  z-index: -2;
  position: relative;
}

h1 {
  padding-bottom: 1%;
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: rgb(57, 57, 57);
}

#tableContainer {
  position: relative;
  width: 500px;
  height: 500px;
  z-index: -1;
  margin: 0 auto;
}

table {
  position: absolute;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  background-color:#FFFAFF;
  border-radius: 6px;
  top: -500;
}

td {
  width: 32.5%;
  height: 32.5%;
  background-color:#FFFAFF;
  border-radius: 6px;
  z-index: 2;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cross {
  background-image: url(../images/x.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
}

.naught {
  background-image: url(../images/o.png);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 2;
}

#alertBox {
  margin: 0 auto;
  position: absolute;
  height: 290px;
  width: 500px;
  background-color: #bfece6;
  opacity: 0.7;
  box-shadow: 0px 0px 15px #888888;
  border-radius: 6px;
  display: none;
  padding-top: 210px;
  z-index: 2;
}

p {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  color: rgb(57, 57, 57);
}

#draw {
  display: none;
}

#crossWin {
  display: none;
}

#naughtWin {
  display: none;
}

#scoreBoard {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  height: 120px;
  width: 500px;
  background-color: #c0e8fa;
  border-radius: 6px;
  display: none;
}

#naughtsScore, #drawScore, #crossesScore, #hN, #hD, #hC {
 width: 32.5%;
 height: 50%;
 display: inline-block;
}

#hN, #hD, #hC {
  font-size: 22px;
  text-align: center;
  padding-top: 20px;
  height: 30%;
  font-family: 'Raleway', sans-serif;
  color: #FFFAFF;
}

#naughtsScore, #drawScore, #crossesScore {
  font-size: 26px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #FFFAFF;
  font-weight: bold;
}

#leftVert {
  width: 12px;
  height: 0px;
  background-color: #c0e8fa;
  position: absolute;
  top: 0px;
  left: 31.5%;
  border-radius: 3px;
  z-index: 1;
  display: inline;
}

#rightVert {
  width: 12px;
  height: 0px;
  background-color: #c0e8fa;
  position: absolute;
  top: 0px;
  left: 66%;
  border-radius: 3px;
  z-index: 1;
  display: inline;
}

#topHor {
  width: 0px;
  height: 10px;
  background-color: #c0e8fa;
  position: absolute;
  top: 157px;
  border-radius: 3px;
  z-index: 1;
}

#botHor{
  width: 0px;
  height: 10px;
  background-color: #c0e8fa;
  position: absolute;
  top: 324px;
  border-radius: 3px;
  z-index: 1;
}

.buttonContainer {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #c0e8fa;
    box-shadow: 0px 0px 5px #888888;
    text-align: center;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    color: rgb(57, 57, 57);
    padding: 3px;
    margin: 0 auto;
    width: 200px;
    border-radius: 3px;
    display: inline;
}


@media (orientation: portrait) {
  h1 {
    padding-bottom: 1%;
    text-align: center;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    color: rgb(57, 57, 57);
  }
}
