

body {
  margin: 0 auto;
  max-width: 800px;
  background-color:#FFFAFF;
}

h1 {
  text-align: center;
  font-size: 20px;
}

.gameContainer {
  margin: 0 auto;
  border: 1px solid black;
  width: 600px;
  height: 600px;
  background-color: #EBEBEB;
}

.gameBox {
  border: 1px solid black;
  width: 32.5%;
  height: 32.5%;
  display: inline-block;
}

.red {
  background-color: red;
  border: 1px solid black;
  width: 32.5%;
  height: 32.5%;
  display: inline-block;
}

.blue {
  background-color: blue;
  border: 1px solid black;
  width: 32.5%;
  height: 32.5%;
  display: inline-block;
}
